#icon {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

html {
	background-color: #FFB84D;
}

#stream_icon{
	display: inline-block;
	float:left;
	width:25%;
}

#favorite_icon{
	display: inline-block;
	float:left;
	width:25%;
}