#icon {
	display: block;
	margin-left: auto;
	margin-right: auto; 
}

#search_box{
	display: block;
	margin-left: auto;
	margin-right: auto;	
}

html {
	background-color: #FFB84D;
}

#track-container {
	text-align: center;
	font-size: 2.5em;
	color: #F8320E;
    font-family: Arial, Narrow, bold;
}